extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        .row
            .col-md-12
                include ../layout/partials/testimoniales
        .row
            .col-md-12
                h2.text-center Agrega un testimonial
                if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimoniales", method="POST")
                            .form-group
                                label(for="nombre") Nombre
                                input(type="text", name="nombre", id="nombre", class="form-control" placeholder="Tu nombre" value=nombre)
                            .form-group
                                label(for="correo") Correo Electrónico
                                input(type="email", name="correo", id="correo", class="form-control" placeholder="Tu correo" value=correo)
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(name="mensaje", rows="3", class="form-control" placeholder="Tu Mensaje")=mensaje
                            input.btn.btn-success.btn-block(type="submit" value="Agregar")
                                
